@use "@angular/material/prebuilt-themes/azure-blue.css";
@use  "../../App_Core/projects/app-core/src/lib/style.scss";


.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel
{
    @apply bgPrimary;
}

.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow{
    color: #00dddd !important;
}

.mat-mdc-select-value-text{
    @apply textSecond;
}

.selected-option{
        background: #00dddd !important;

}

.mat-mdc-option.mdc-list-item:hover {
    background: #00dddd !important;
}