<div
  class="story-com width-page"
>
  <!-- Your Story-->
  <div class="story-header">
    <div class="border-efec story-body">
      <div
        class="textCom text-center text-2xl flex items-center justify-center story"
      >
        +
      </div>
    </div>
    <div
      class="story-body-name"
    >
      <div class="story-name">Your Story</div>
    </div>
  </div>

  <!-- Firiend Story-->
  <div (click)="open()" *ngFor="let item of highlight" class="story-header">
    <button class="border-efec story-body" (click)="open()">
      <img
        class="story"
        style="object-fit: cover"
        src={{item?.image}}
      />
    </button>
    <div
      class="story-body-name"
    >
      <div class="story-name">{{item.name}}</div>
    </div>
  </div>
</div>
