<div
  class="flex flex-col gap-2 sm:w-72 text-[10px] sm:text-xs z-50 absolute top-3 left-1/2 transform -translate-x-1/2 !w-max"
>
  <div
    class="error-alert cursor-pointer flex items-center justify-between w-full h-16 sm:h-16 rounded-lg bg-gradient-to-r shadow-xl px-5 py-4 transition-all duration-300 transform hover:scale-105 hover:shadow-2xl"
    [ngClass]="{
      'from-[#FF416C] to-[#FF4B2B] ': mode === 'ERROR',
      'from-[#416c53] to-[#0af621]': mode === 'SUCCESS'
    }"
  >
    <div class="flex gap-3 items-center">
      <div
        class="text-white rounded-full p-2 shadow-md"
        [ngClass]="{
          'from-[#FF416C] to-[#FF4B2B] ': mode === 'ERROR',
          'from-[#416c53] to-[#0af621]': mode === 'SUCCESS'
        }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-7 h-7"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
          ></path>
        </svg>
      </div>
      <div>
        <p class="text-white text-lg font-bold">{{ subject }}</p>
        <p class="text-white text-sm opacity-90">{{ message }}</p>
      </div>
    </div>
    <button
      (click)="closeAlert()"
      class="text-white hover:bg-white/20 p-2 rounded-full transition-colors ease-linear duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
  </div>
</div>
