<div class="page">
  <div class="w-1/5 gap-3 py-10">
    <!-- SEACTH-->
    <div
      class="flex flex-row gap-2.5 items-center justify-start self-stretch flex-1 relative"
    >
      <mat-form-field class="dash-style-input w-4/5" appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search ...</mat-label>
        <input matInput placeholder="Search" />
      </mat-form-field>
    </div>
    <!-- ACTIVE-->
    <div>
      <div class="flex flex-row justify-between">
        <div class="text-xl-custom">Active</div>
        <div>number</div>
      </div>
    </div>
    <div class="w-full bg-red-50">
      <div class="bg-red-700">red</div>
    </div>
    <div class="w-1/5">
      <div class="bg-purple-500">purple</div>
    </div>
  </div>
</div>
