<div
  #masthead
  class="pt-[5px] pr-5 pb-[5px] flex flex-row items-center justify-between self-stretch shrink-0 relative overflow-hidden"
>
  <!-- NavBar-->
  <div
    class="flex flex-row gap-2.5 items-center justify-start self-stretch flex-1 relative"
  >
    <mat-form-field class="dash-style-input w-4/5" appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Seach ...</mat-label>
      <input matInput placeholder="Search" />
    </mat-form-field>

    <!-- Notification-->
    <div
      class="flex flex-row gap-2.5 items-center justify-center shrink-0 relative"
    >
      <button
        class="border-efec story-body"
        (click)="onOpenNotification($event)"
      >
        <mat-icon class="icon-butoon">notifications</mat-icon>
      </button>
    </div>

    <!-- Chat-->
    <div
      class="flex flex-row gap-2.5 items-center justify-center shrink-0 relative"
    >
      <button class="border-efec story-body" (click)="onOpenChat($event)">
        <mat-icon class="icon-butoon">chat</mat-icon>
      </button>
    </div>
  </div>

  <div
    class="flex flex-row gap-[15px] items-center justify-center self-stretch shrink-0 relative"
  >
    <!-- Profile -->
    <div
      class="flex flex-row gap-2.5 items-center justify-center shrink-0 relative"
    >
      <button class="border-efec story-body" (click)="onOpenProfile($event)">
        <img
          draggable="false"
          class="story"
          style="object-fit: cover"
          src="https://images.pexels.com/photos/26692187/pexels-photo-26692187/free-photo-of-moda-costum-femeie-albastru.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
        />
      </button>
    </div>
  </div>
</div>
