<div class="progress-container absolute">
  <div class="flex flex-row justify-between w-full px-2 items-center mt-3">
    <div>
      <img
        draggable="false"
        class="rounded-full max-w-max w-10 h-10 mb-3 object-cover"
        src="{{ profile }}"
        alt="profile"
      />
    </div>
    <mat-progress-bar
      *ngFor="let img of images; let i = index"
      mode="determinate"
      [value]="i === currentIndex ? progress : i < currentIndex ? 100 : 0"
      class="progress-bar px-5"
    ></mat-progress-bar>
    <!-- <div class="w-10 h-10 items-center">
      <mat-icon>{{ iconsObject["MORE_VENT"].name }}</mat-icon>
    </div> -->
  </div>
</div>

<div
  class="page-dialog"
  style="padding: 0px; overflow: hidden; max-height: max-content"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
>
  <div class="w-full h-full flex justify-center items-center">
    <ng-container
      *ngIf="getFileType(currentImage.url!) === 'image'; else notImage"
    >
      <img
        id="dynamicImage"
        #dynamicImage
        style="object-fit: cover"
        class="max-w-full max-h-full w-full h-full"
        [src]="currentImage.url!"
        crossorigin="anonymous"
        draggable="false"
        alt="Image for box shadow"
        (load)="onImageLoad(dynamicImage)"
      />
    </ng-container>

    <ng-template #notImage>
      <div class="video-container w-full h-full">
        <video
          id="dynamicVideo"
          #dynamicVideo
          [autoplay]="true"
          class="max-w-full max-h-full h-full object-cover w-[45rem]"
          #videoPlayer
          crossorigin="anonymous"
          (loadedmetadata)="onVideoMetadataLoaded(dynamicVideo); onProgress()"
        >
          <source src="{{ currentImage.url! }}" type="video/mp4" />
        </video>
      </div>
    </ng-template>
  </div>
</div>
