<div class="page">
  <app-masthead></app-masthead>
  <div
    class="flex flex-row h-full justify-between mr-1.5 relative"
    style="overflow: hidden"
  >
    <div
      class="flex flex-col hide-scrollbar max-w-max relative"
      (scroll)="onScroll($event)"
      #scrollContainer
    >
      <ng-container
        *ngIf="!(_skeletonService.loading$ | async); else skeletonLoader"
      >
        <div class="flex flex-wrap gap-2 justify-between width-page">
          <app-post
            *ngFor="let post of posts; let k = index"
            [data]="post"
            [index]="k"
            [id]="'post-' + k"
            [run]="isRun"
          >
          </app-post>
        </div>
      </ng-container>
      <ng-template #skeletonLoader>
        <div class="flex flex-wrap gap-2 justify-between width-page">
          <app-post *ngFor="let _ of [].constructor(posts.length + 6)"></app-post>
        </div>
      </ng-template>
    </div>
    <!-- <div class="flex flex-row hide-scrollbar">
      <app-story [highlight]="story" class="flex w-[82px]"></app-story>
    </div> -->
  </div>
</div>
