<div class="page">
  <form
    [formGroup]="form"
    class="flex flex-col gap-4 bg-[#1f1f1f] p-8 w-[450px] rounded-2xl font-sans"
  >
    <label class="title">Welcome Back</label>
    <div
      class="flex items-center border border-gray-700 rounded-lg h-12 px-3 transition focus-within:border-efec bg-[#2b2b2b]"
    >
      <mat-icon>alternate_email</mat-icon>
      <input
        formControlName="email"
        type="text"
        class="ml-3 w-full bg-[#2b2b2b] text-white border-none focus:outline-none placeholder-gray-400"
        placeholder="Enter your Email"
      />
    </div>
    <div
      class="flex items-center border border-gray-700 rounded-lg h-12 px-3 transition focus-within:border-efec bg-[#2b2b2b]"
    >
      <mat-icon>lock</mat-icon>
      <input
        formControlName="password"
        type="password"
        class="ml-3 w-full bg-[#2b2b2b] text-white border-none focus:outline-none placeholder-gray-400"
        placeholder="Enter your Password"
      />
    </div>

    <div class="flex justify-between items-center text-white text-sm">
      <div class="flex items-center gap-2">
        <input type="checkbox" class="bgSecond" />
        <label>Remember me</label>
      </div>
      <span
        class="textSecond cursor-pointer hover:underline"
        [routerLink]="'/authentication/forgot-password'"
        >Forgot password?</span
      >
    </div>

    <button
      type="button"
      (click)="onClickSignIn()"
      class="mt-4 bgSecond text-white font-medium rounded-lg h-12 w-full cursor-pointer hover:bgSecond transition"
    >
      Sign In
    </button>

    <p class="text-center text-white text-sm">
      Don't have an account?
      <span
        class="textSecond cursor-pointer hover:underline"
        [routerLink]="'/authentication/register'"
        >Sign Up</span
      >
    </p>

    <p class="text-center text-white text-sm my-2">Or With</p>

    <div class="flex flex-col gap-3"><app-google></app-google></div>
  </form>
</div>
<app-alert
  *ngIf="showAlert"
  [message]="alertMessage"
  [subject]="errorMessage"
  [mode]="mode"
  (handleChangeValue)="showAlert = false"
></app-alert>
