<div class="page page-auth">
  <div class="flex flex-col gap-4 bg-[#1f1f1f] p-8 rounded-2xl font-sans">
    <label class="title">Welcome to {{ name }}</label>

    <div class="flex flex-row justify-center gap-3">
      <app-google></app-google>
    </div>

    <mat-stepper [linear]="isLinear" #stepper [selectedIndex]="0">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" class="flex flex-col gap-3">
          <div class="flex flex-col gap-3">
            <div
              class="flex items-center border border-gray-700 rounded-lg h-12 px-3 transition focus-within:border-efec bg-[#2b2b2b]"
            >
              <mat-icon>edit</mat-icon>
              <input
                type="text"
                formControlName="name"
                class="ml-3 w-full bg-[#2b2b2b] text-white border-none focus:outline-none placeholder-gray-400"
                placeholder="Enter your name"
              />
            </div>
            <div
              class="flex items-center border border-gray-700 rounded-lg h-12 px-3 transition focus-within:border-efec bg-[#2b2b2b]"
            >
              <mat-icon>alternate_email</mat-icon>
              <input
                type="email"
                formControlName="email"
                class="ml-3 w-full bg-[#2b2b2b] text-white border-none focus:outline-none placeholder-gray-400"
                placeholder="Enter your Email"
              />
            </div>
          </div>
          <div class="flex flex-row gap-3">
            <div
              class="flex items-center border border-gray-700 rounded-lg h-12 px-3 transition focus-within:border-efec bg-[#2b2b2b]"
            >
              <mat-icon>password</mat-icon>
              <input
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                type="password"
                class="ml-3 w-full bg-[#2b2b2b] text-white border-none focus:outline-none placeholder-gray-400"
                placeholder="Enter your password"
              />
              <mat-icon
                matSuffix
                (click)="togglePasswordVisibility()"
                class="cursor-pointer"
              >
                {{ showPassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </div>
            <div
              class="flex items-center border border-gray-700 rounded-lg h-12 px-3 transition focus-within:border-efec bg-[#2b2b2b]"
            >
              <mat-icon>password</mat-icon>
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                formControlName="confirmPassword"
                class="ml-3 w-full bg-[#2b2b2b] text-white border-none focus:outline-none placeholder-gray-400"
                placeholder="Retry your password"
              />
              <mat-icon
                matSuffix
                (click)="toggleConfirmPasswordVisibility()"
                class="cursor-pointer"
              >
                {{ showConfirmPassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </div>
          </div>
          <div class="flex gap-20">
            <button type="button" (click)="onMoveToSecundForm()" class="move">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <div class="flex flex-row justify-around gap-3">
            <label for="file" class="custom-file-upload">
              <div *ngIf="!imagePreview" class="icon">
                <svg
                  viewBox="0 0 24 24"
                  fill=""
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_iconCarrier">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                      fill=""
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="text">
                <span>Click to upload image</span>
              </div>
              <input
                id="file"
                formControlName="profile"
                type="file"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
              <img
                *ngIf="imagePreview"
                [src]="imagePreview"
                alt="Image Preview"
              />
            </label>
          </div>
          <div class="flex gap-20">
            <button type="button" (click)="onMoveBack()" class="move">
              <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button type="button" (click)="onMoveToThirdForm()" class="move">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <div class="flex flex-col justify-around gap-3">
            <div class="container">
              <div
                class="card"
                [ngClass]="{
                  'bg-pink-200': character.name === 'female',
                  'bg-blue-400': character.name === 'male'
                }"
                *ngFor="let character of characters; let i = index"
                [class.active]="selectedCharacter === character.name"
                (click)="saveName(character.name)"
              >
                <img [src]="character.icon" [alt]="character.name" />
              </div>
            </div>

            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dateOfBirth"
                readonly
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="flex gap-20">
            <button type="button" (click)="onMoveBack()" class="move">
              <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button type="button" (click)="onMoveToLastForm()" class="move">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="lastFormGroup">
        <form [formGroup]="lastFormGroup">
          <!-- <div class="flex flex-col justify-around gap-3">
            <mat-form-field class="example-chip-list">
              <mat-chip-grid #chipGrid aria-label="Enter your hobby...">
                @for (hobby of hobby(); track hobby) {
                <mat-chip-row
                  (removed)="remove(hobby)"
                  [editable]="true"
                  formControlName="hashtag"
                  (edited)="edit(hobby, $event)"
                  [aria-description]="'press enter to edit ' + hobby.name"
                >
                  {{ hobby.name }}
                  <button
                    matChipRemove
                    [attr.aria-label]="'remove ' + hobby.name"
                  >
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                }
                <input
                  [placeholder]="'Your hobbs'"
                  formControlName="hashtag"
                  [matChipInputFor]="chipGrid"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)"
                />
              </mat-chip-grid>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Your beo</mat-label>
              <textarea matInput formControlName="bio"></textarea>
            </mat-form-field>
          </div> -->
          <div class="flex gap-20">
            <button type="button" (click)="onMoveBack()" class="move">
              <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button type="button" (click)="save()" class="move">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>

    <div class="flex flex-row justify-center">
      <p class="text-center text-white text-sm">
        Have an account?
        <span
          class="textSecond cursor-pointer hover:underline"
          [routerLink]="'/authentication/login'"
        >
          Sign in.</span
        >
      </p>
    </div>
  </div>
</div>
<lib-alert
  class="absolute top-4 left-1/2 z-50 transform -translate-x-1/2"
  *ngIf="showAlert"
  [message]="alertMessage"
  [subject]="errorMessage"
  [mode]="mode"
  (handleChangeValue)="showAlert = false"
></lib-alert>
