<div class="page">
  <app-masthead></app-masthead>
  <!-- Multiple select toggle-->
  <mat-button-toggle-group class="dash-style-toogle w-fit h-auto" style="overflow: visible;" multiple>
    <mat-button-toggle *ngFor="let item of filters" [value]="item.value">
      <mat-icon>{{ item.icon }}</mat-icon> {{ item.name }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="flex flex-wrap justify-between gap-2 width-page" >
    <app-place *ngFor="let item of items" class="w-[30%]"></app-place>
  </div>  
</div>
