<div class="page">
  <form
    [formGroup]="form"
    class="flex flex-col gap-4 bg-[#1f1f1f] p-8 w-[450px] rounded-2xl font-sans"
  >
    <label class="title">Forgot Password</label>
    <div
      class="flex items-center border border-gray-700 rounded-lg h-12 px-3 transition focus-within:border-efec bg-[#2b2b2b]"
    >
      <mat-icon>alternate_email</mat-icon>
      <input
        formControlName="email"
        type="email"
        class="ml-3 w-full bg-[#2b2b2b] text-white border-none focus:outline-none placeholder-gray-400"
        placeholder="Enter your Email"
      />
    </div>

    <button
      type="button"
      (click)="onClickSignIn()"
      class="mt-4 bgSecond text-white font-medium rounded-lg h-12 w-full cursor-pointer hover:bgSecond transition"
    >
      Send Email
    </button>

    <div class="flex flex-col gap-3">
      <app-google></app-google>
    </div>
  </form>
</div>
<app-alert
  *ngIf="showAlert"
  [message]="alertMessage"
  [subject]="errorMessage"
  [mode]="mode"
  (handleChangeValue)="showAlert = false"
></app-alert>
