@import "@angular/material/prebuilt-themes/azure-blue.css";
@import "../../App_Core/projects/app-core/src/lib/style.scss";

.page {
  width: 100vw !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.move {
  @apply mt-4 bgSecond text-white font-medium rounded-lg h-12 w-full cursor-pointer hover:bgSecond transition;
}

.title {
  @apply textSecond text-3xl font-semibold;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: transparent !important;
}

.mat-step-icon-selected {
  background-color: transparent !important;
}

.mat-horizontal-stepper-header {
  display: flex !important;
  height: 72px !important;
  overflow: hidden !important;
  align-items: center !important;
  padding: 0 14px !important;
  height: var(--mat-stepper-header-height) !important;
  justify-content: center !important;
  flex-direction: column-reverse !important;
  flex-wrap: nowrap !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
  @apply clSecond;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  @apply clSecond caret-efec;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  @apply clSecond border-efec;
}