@import "@angular/material/prebuilt-themes/azure-blue.css";
@import "../../App_Core/projects/app-core/src/lib/style.scss";
@import './theme.scss';

:root {
  --nav-bar-width: 70px;
}

.app-logo {
  @apply text-center text-base font-normal relative h-16 flex items-center justify-center;
}

.nav-bar {
  @apply bg-[#434343] rounded-3xl h-fit w-fit pt-2.5 pr-4 pb-2.5 pl-4 flex flex-row gap-0 items-start justify-center shrink-0 relative;
  width: var(--nav-bar-width);
}

.page {
  @apply h-full flex background-primary overflow-y-auto;
  width: calc(100vw - var(--nav-bar-width));
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.line {
  @apply card rounded-[4px] shrink-0 relative flex;
  width: 2.5rem; 
  height: 1rem;  
}

.rotate-line {
  transform: rotate(180deg);
  width: 1rem;   
  height: 2.5rem; 
}

.center-circle {
  @apply bg-red-50 rounded-full w-12 h-12 absolute;
  transition: left 0.3s ease, top 0.3s ease;
  pointer-events: none;
}

.element{
  @apply card rounded-2xl p-1.5 flex flex-row gap-2.5 items-start justify-start shrink-0 relative;
}


html, body { height: 100%;  width: 100%; background-color:black}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
