<div class="page-dialog">
  <div class="card flex items-center !w-[30vw]">
    <div class="relative p-4 w-full max-w-xl max-h-full">
      <div class="relative rounded-lg shadow">
        <form [formGroup]="form" class="p-2 md:p-3">
          <div class="relative mb-4">
            <textarea
              name="content"
              id="hs-textarea-ex-2"
              class="p-4 pb-12 block w-full text-white h-60 bg-[#4C5554] border-none rounded-lg text-md focus:border-none focus:ring-0 focus:outline-none resize-none"
              placeholder="Write a message..."
              formControlName="message"
            ></textarea>
            <div id="preview" class="mb-4"></div>
            <div class="absolute bottom-0 inset-x-0 p-2 rounded-b-md bg-none">
              <div class="flex justify-between items-center">
                <div class="flex items-center">
                  <button
                    type="button"
                    class="inline-flex flex-shrink-0 justify-center items-center size-10 rounded-lg text-gray-500"
                  >
                    <label for="image" class="cursor-pointer">
                      <svg
                        class="flex-shrink-0 size-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                        ></path>
                      </svg>
                      <input
                        name="image"
                        id="image"
                        type="file"
                        class="hidden"
                      />
                    </label>
                  </button>

                  <button
                    type="button"
                    class="inline-flex flex-shrink-0 justify-center items-center size-10 rounded-lg text-gray-500"
                  >
                    <label for="image" class="cursor-pointer">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13"
                        ></path>
                      </svg>
                      <input
                        name="image"
                        id="image"
                        type="file"
                        class="hidden"
                      />
                    </label>
                  </button>

                  <button
                    type="button"
                    class="inline-flex flex-shrink-0 justify-center items-center size-10 rounded-lg text-gray-500"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div class="flex items-center gap-x-1">
                  <button
                    type="button"
                    class="inline-flex flex-shrink-0 justify-center items-center size-10 rounded-lg text-gray-500"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z"
                      ></path>
                    </svg>
                  </button>

                  <button
                    type="submit"
                    (click)="onSend()"
                    class="inline-flex flex-shrink-0 justify-center items-center size-10 rounded-lg text-white bg-blue-400 hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2"
                  >
                    <mat-icon>{{ iconsObject["SEND"].type }}</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
