<div
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp($event)"
  (mouseleave)="onMouseLeave($event)"
  (touchstart)="onMouseDown($event)"
  (touchend)="onMouseUp($event)"
  (touchcancel)="onMouseLeave($event)"
  #postElement
  class="rounded-[15px] p-2.5 flex flex-row gap-2.5 items-center justify-start self-stretch relative overflow-hidden mb-3"
>
  <ng-container *ngIf="!_skeletonService.isLoading; else skeletonLoader">
    <div
      class="flex flex-col justify-start items-center self-stretch w-[3.5rem]"
    >
      <button
        *ngIf="isShare(data) || isPost(data)"
        (click)="
          isPost(data) ? onOpenProfile($event, data!.post_user_id!.name) : null
        "
        (click)="
          isShare(data)
            ? onOpenProfile($event, data!.share_user_id!.name)
            : null
        "
      >
        <img
          id="profile"
          #profile
          crossorigin="anonymous"
          draggable="false"
          class="rounded-full mb-3 h-14 object-cover justify-start flex flex-col self-stretch max-w-max w-full"
          src="{{
            getProperty('profile_picture') ||
              (isShare(data) && data!.share_user_id!.profile_picture)
          }}"
        />
      </button>
      <div
        *ngIf="isShare(data)"
        class="bgEfec w-2 h-8 rounded-[4px] relative flex mb-3"
        style="margin-top: -3px"
      ></div>
      <button
        *ngIf="isShare(data)"
        (click)="onOpenProfile($event, data!.share_user_id_sharled!.name)"
      >
        <img
          draggable="false"
          class="rounded-full mb-3 h-14 object-cover max-w-max justify-start flex flex-col self-stretch w-full"
          src="{{ data!.share_user_id_sharled!.profile_picture }}"
        />
      </button>
      <div
        class="bgEfec w-1 h-full rounded-[4px] relative flex mb-3"
        style="margin-top: -3px"
      ></div>
      <div *ngIf="isPost(data) || isShare(data)">
        <div *ngFor="let item of getTaggedUsers(data); let k = index">
          <button (click)="onOpenProfile($event, item.name)">
            <img
              draggable="false"
              [ngStyle]="
                (isPost(data) && k !== data!.tagged_users!.length - 1) ||
                (isShare(data) &&
                  k !== data!.share_post_id!.tagged_users!.length - 1)
                  ? { marginBottom: '-10px' }
                  : {}
              "
              class="rounded-full h-14 object-cover justify-start flex flex-col self-stretch w-full"
              src="{{ item?.profile_picture }}"
            />
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col w-[40rem] gap-2.5 items-start self-stretch relative justify-between"
    >
      <div
        class="bgCom rounded-[15px] p-2.5 flex flex-col gap-1 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="textCl text-left text-2xl font-normal relative self-stretch flex items-center justify-start"
        >
          {{
            getProperty("name") || (isShare(data) && data!.share_user_id!.name)
          }}
        </div>
        <div
          class="textCl text-left text-sm font-normal relative self-stretch flex items-center justify-start"
        >
          {{ data!.description }}
        </div>
        <div
          class="textCl text-left text-sm font-normal relative self-stretch flex items-center justify-start"
        >
          <div
            class="flex-row gap-2 overflow-x-auto justify-between"
            style="display: ruby"
          >
            <div *ngIf="isPost(data)" class="flex flex-row">
              <div
                *ngFor="let item of data.post_hashtag_id"
                class="font-['Inter-Regular',_sans-serif] justify-between text-sm font-normal m-2 px-3 py-1 hashtag"
              >
                #{{ item?.name }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="isShare(data) && data!.shareId!.type === ShareEnum.POST"
        class="bgCom rounded-[15px] p-2.5 flex flex-col gap-1 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="textCl text-left text-2xl font-normal relative self-stretch flex items-center justify-start"
        >
          {{ data!.share_user_id_sharled!.name }}
        </div>
        <div
          class="textCl text-left text-sm font-normal relative self-stretch flex items-center justify-start"
        >
          {{ data!.description }}
        </div>
        <div
          class="textCl text-left text-sm font-normal relative self-stretch flex items-center justify-start"
        >
          <div
            class="flex-row gap-2 overflow-x-auto justify-between"
            style="display: ruby"
          >
            <div *ngIf="isPost(data)">
              <div
                *ngFor="let item of data.post_hashtag_id"
                class="font-['Inter-Regular',_sans-serif] justify-between text-sm font-normal m-2 px-3 py-1 hashtag"
              >
                #{{ item?.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- POST -->
      <div
        class="flex flex-row gap-[5px] items-center justify-around content-around self-stretch flex-1 relative"
        *ngIf="
          (isPost(data) &&
            data?.id?.type === PostEnum.POST &&
            data!.post_medias_id!.length > 0) ||
          (isShare(data) &&
            data?.shareId?.type === ShareEnum.POST &&
            data!.share_post_id!.post_medias_id!.length > 0)
        "
      >
        <div
          #postContainer
          class="flex flex-col gap-2.5 items-start justify-around self-stretch flex-1 relative post-container"
        >
          <!-- <img
            draggable="false"
            class="rounded-[5px] max-w-max self-stretch flex-1 relative w-full"
            style="object-fit: cover"
            id="postImage1"
            #postImage1
            crossorigin="anonymous"
            src="{{
              (isPost(data) && data!.post_medias_id![0]!.url) ||
                (isShare(data) && data!.share_post_id!.post_medias_id![0]!.url)
            }}"
            alt="image"
          />
          <div class="video-container" #postContainer>
            <video
              class="rounded-[5px] self-stretch flex-1 relative"
              [controls]="true"
              [autoplay]="false"
              [muted]="true"
              [loop]="true"
              id="videoPlayer{{ index }}"
              #videoPlayer
              crossorigin="anonymous"
              (mouseenter)="playVideo(videoPlayer)"
              (mouseleave)="pauseVideo(videoPlayer)"
            >
              <source
                src="{{
                  (isPost(data) && data!.post_medias_id![0]!.url) ||
                    (isShare(data) &&
                      data!.share_post_id!.post_medias_id![0]!.url)
                }}"
                type="video/mp4"
              />
            </video>
          </div> -->

          <ng-container
            *ngIf="
              getMediaType(
                isPost(data)
                  ? data!.post_medias_id![0]!.id!.type
                  : isShare(data)
                  ? data!.share_post_id!.post_medias_id![0]!.id!.type
                  : ''
              ) as mediaUrl
            "
          >
            <img
              *ngIf="isImage(mediaUrl)"
              draggable="false"
              class="rounded-[5px] max-w-max self-stretch flex-1 relative w-full"
              style="object-fit: cover"
              [src]="
                (isPost(data) && data!.post_medias_id![0]!.url) ||
                (isShare(data) && data!.share_post_id!.post_medias_id![0]!.url)
              "
              alt="image"
              id="postImage1"
              #postImage1
              crossorigin="anonymous"
            />

            <div
              class="video-container"
              *ngIf="isVideo(mediaUrl)"
              #postContainer
            >
              <video
                class="rounded-[5px] self-stretch flex-1 relative"
                [muted]="true"
                #videoPlayer
                crossorigin="anonymous"
              >
                <source
                  [src]="
                    (isPost(data) && data!.post_medias_id![0]!.url) ||
                    (isShare(data) &&
                      data!.share_post_id!.post_medias_id![0]!.url)
                  "
                  type="video/mp4"
                />
              </video>
            </div>
          </ng-container>
        </div>
        <div
          *ngIf="
            (isPost(data) && data!.post_medias_id!.length === 2) ||
            (isShare(data) && data!.share_post_id!.post_medias_id!.length === 2)
          "
          class="flex flex-col gap-2.5 items-start justify-start self-stretch flex-1 relative"
        >
          <!-- <img
            draggable="false"
            class="rounded-[5px] max-w-max self-stretch flex-1 relative w-full"
            style="object-fit: cover"
            id="postImage2"
            #postImage2
            src="{{
              (isPost(data) && data!.post_medias_id![1]!.url) ||
                (isShare(data) && data!.share_post_id!.post_medias_id![1]!.url)
            }}"
          /> -->

          <ng-container
            *ngIf="
              getMediaType(
                isPost(data)
                  ? data!.post_medias_id![1]!.id!.type
                  : isShare(data)
                  ? data!.share_post_id!.post_medias_id![1]!.id!.type
                  : ''
              ) as mediaUrl
            "
          >
            <img
              *ngIf="isImage(mediaUrl)"
              draggable="false"
              class="rounded-[5px] max-w-max self-stretch flex-1 relative w-full"
              style="object-fit: cover"
              [src]="
                (isPost(data) && data!.post_medias_id![1]!.url) ||
                (isShare(data) && data!.share_post_id!.post_medias_id![1]!.url)
              "
              alt="image"
              crossorigin="anonymous"
              id="postImage2"
              #postImage2
            />

            <div
              class="video-container"
              *ngIf="isVideo(mediaUrl)"
              #postContainer
            >
              <video
                class="rounded-[5px] self-stretch flex-1 relative"
                [muted]="true"
                #videoPlayer
                id="postImage2"
                #postImage2
                crossorigin="anonymous"
              >
                <source
                  [src]="
                    (isPost(data) && data!.post_medias_id![1]!.url) ||
                    (isShare(data) &&
                      data!.share_post_id!.post_medias_id![1]!.url)
                  "
                  type="video/mp4"
                />
              </video>
            </div>
          </ng-container>
        </div>
        <div
          *ngIf="
            (isPost(data) && data!.post_medias_id!.length >= 3) ||
            (isShare(data) && data!.share_post_id!.post_medias_id!.length >= 3)
          "
          class="flex flex-col gap-2.5 items-start justify-center self-stretch flex-1 relative"
        >
          <!-- <img
            draggable="false"
            class="rounded-[5px] self-stretch flex-1 w-full relative max-w-max"
            style="object-fit: cover"
            id="postImage2"
            #postImage2
            src="{{
              (isPost(data) && data!.post_medias_id![1]!.url) ||
                (isShare(data) && data!.share_post_id!.post_medias_id![1]!.url)
            }}"
          /> -->

          <ng-container
            *ngIf="
              getMediaType(
                isPost(data)
                  ? data!.post_medias_id![1]!.id!.type
                  : isShare(data)
                  ? data!.share_post_id!.post_medias_id![1]!.id!.type
                  : ''
              ) as mediaUrl
            "
          >
            <img
              *ngIf="isImage(mediaUrl)"
              draggable="false"
              class="rounded-[5px] max-w-max self-stretch flex-1 relative w-full"
              style="object-fit: cover"
              [src]="
                (isPost(data) && data!.post_medias_id![1]!.url) ||
                (isShare(data) && data!.share_post_id!.post_medias_id![1]!.url)
              "
              alt="image"
              id="postImage2"
              #postImage2
              crossorigin="anonymous"
            />

            <div
              class="video-container"
              *ngIf="isVideo(mediaUrl)"
              #postContainer
            >
              <video
                class="rounded-[5px] self-stretch flex-1 relative"
                [muted]="true"
                #videoPlayer
                crossorigin="anonymous"
              >
                <source
                  [src]="
                    (isPost(data) && data!.post_medias_id![1]!.url) ||
                    (isShare(data) &&
                      data!.share_post_id!.post_medias_id![1]!.url)
                  "
                  type="video/mp4"
                />
              </video>
            </div>
          </ng-container>

          <!-- <img
            draggable="false"
            class="rounded-[5px] max-w-max w-full self-stretch flex-1 relative"
            style="object-fit: cover"
            id="postImage3"
            #postImage3
            src="{{
              (isPost(data) && data!.post_medias_id![2]!.url) ||
                (isShare(data) && data!.share_post_id!.post_medias_id![2]!.url)
            }}"
          /> -->

          <ng-container
            *ngIf="
              getMediaType(
                isPost(data)
                  ? data!.post_medias_id![2]!.id!.type
                  : isShare(data)
                  ? data!.share_post_id!.post_medias_id![2]!.id!.type
                  : ''
              ) as mediaUrl
            "
          >
            <img
              *ngIf="isImage(mediaUrl)"
              draggable="false"
              class="rounded-[5px] max-w-max self-stretch flex-1 relative w-full"
              style="object-fit: cover"
              [src]="
                (isPost(data) && data!.post_medias_id![2]!.url) ||
                (isShare(data) && data!.share_post_id!.post_medias_id![2]!.url)
              "
              alt="image"
              id="postImage3"
              #postImage3
              crossorigin="anonymous"
            />

            <div
              class="video-container"
              *ngIf="isVideo(mediaUrl)"
              #postContainer
            >
              <video
                class="rounded-[5px] self-stretch flex-1 relative"
                [muted]="true"
                #videoPlayer
                crossorigin="anonymous"
              >
                <source
                  [src]="
                    (isPost(data) && data!.post_medias_id![2]!.url) ||
                    (isShare(data) &&
                      data!.share_post_id!.post_medias_id![2]!.url)
                  "
                  type="video/mp4"
                />
              </video>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- REEL -->
      <div
        class="flex flex-row gap-[5px] items-center justify-around content-around self-stretch flex-1 relative"
        *ngIf="isPost(data) && data!.id!.type === PostEnum.REEL"
      >
        <div
          class="flex flex-col gap-2.5 items-start justify-around self-stretch flex-1 relative post-container"
        >
          <!-- <img
        draggable="false"
        class="rounded-[5px] self-stretch flex-1 relative"
        style="object-fit: cover"
        id=" postImage1"
        # postImage1
        crossorigin="anonymous"
        src="{{ post!.post_medias_id[0]!.url }}"
      /> -->
          <div class="video-container" #postContainer>
            <video
              class="rounded-[5px] self-stretch flex-1 relative"
              [controls]="true"
              [autoplay]="false"
              [muted]="true"
              [loop]="true"
              id="videoPlayer{{ index }}"
              #videoPlayer
              crossorigin="anonymous"
              (mouseenter)="playVideo(videoPlayer)"
              (mouseleave)="pauseVideo(videoPlayer)"
            >
              <source
                src="{{ data.post_medias_id?.[0]?.url }}"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
      </div>
      <!-- MEDIA -->
      <div
        class="flex flex-row gap-[5px] items-center justify-around content-around self-stretch flex-1 relative"
        *ngIf="isShare(data) && data?.shareId?.type === ShareEnum.MEDIA"
      >
        <div
          #postContainer
          class="flex flex-col gap-2.5 items-start justify-around self-stretch flex-1 relative post-container"
        >
          <!-- <img
            draggable="false"
            class="rounded-[5px] max-w-max w-full self-stretch flex-1 relative"
            style="object-fit: cover"
            id="postImage1"
            #postImage1
            crossorigin="anonymous"
            src="{{ isShare(data) && data!.share_media_id.url }}"
          /> -->

          <ng-container
            *ngIf="
              getMediaType(
                isShare(data) ? data!.share_media_id.id!.type : ''
              ) as mediaUrl
            "
          >
            <img
              *ngIf="isImage(mediaUrl)"
              draggable="false"
              class="rounded-[5px] max-w-max self-stretch flex-1 relative w-full"
              style="object-fit: cover"
              [src]="mediaUrl"
              alt="image"
              id="postImage1"
              #postImage1
              crossorigin="anonymous"
            />

            <div
              class="video-container"
              *ngIf="isVideo(mediaUrl)"
              #postContainer
            >
              <video
                class="rounded-[5px] self-stretch flex-1 relative"
                [muted]="true"
                #videoPlayer
                crossorigin="anonymous"
              >
                <source [src]="mediaUrl" type="video/mp4" />
              </video>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- Story -->
      <div
        class="flex flex-row gap-[5px] items-center justify-around content-around self-stretch flex-1 relative"
        *ngIf="isShare(data) && data?.shareId?.type === ShareEnum.STORY"
      >
        <div
          #postContainer
          class="flex flex-col gap-2.5 items-start justify-around self-stretch flex-1 relative post-container"
        >
          <img
            draggable="false"
            class="rounded-[5px] max-w-max w-full self-stretch flex-1 relative"
            style="object-fit: cover"
            id="postImage1"
            #postImage1
            crossorigin="anonymous"
            src="{{ data!.share_story_id!.story_medias[0]!.url }}"
          />
        </div>
      </div>
      <div
        class="flex flex-row w-full items-center justify-between self-stretch shrink-0 relative"
      >
        <div #share (click)="onClickShare($event)">
          <mat-icon>{{ iconsObject["SHARE"].name }}</mat-icon>
        </div>
        <div #comment (click)="onClickComment($event)">
          <mat-icon>{{ iconsObject["COMMENT"].name }}</mat-icon>
        </div>
        <div #like (click)="onClickLike($event)">
          <mat-icon>{{ iconsObject["LIKE"].name }}</mat-icon>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #skeletonLoader>
    <div
      class="flex flex-col justify-start items-center self-stretch w-[3.5rem]"
    >
      <div class="skeleton-circle skeleton-color mb-3"></div>
      <div class="skeleton-line skeleton-color w-2 h-8 rounded-[4px]"></div>
    </div>

    <div
      class="flex flex-col w-[40rem] gap-2.5 items-start self-stretch relative justify-between"
    >
      <div
        class="skeleton-color rounded-[15px] p-2.5 flex flex-col gap-1 items-start justify-start self-stretch shrink-0 relative animate-pulse"
      >
        <div class="skeleton-text skeleton-color w-1/2 h-6 rounded-md"></div>
        <div class="skeleton-text skeleton-color w-3/4 h-4 rounded-md"></div>
      </div>

      <!-- Media Skeleton -->
      <div
        class="flex flex-row gap-[5px] items-center justify-around content-around self-stretch flex-1 relative"
      >
        <div
          class="skeleton-video skeleton-color w-full h-80 rounded-[5px]"
        ></div>
      </div>
      <div
        class="flex flex-row w-full items-center justify-between self-stretch shrink-0 relative"
      >
        <div class="skeleton-icon skeleton-color w-6 h-6 rounded-full"></div>
        <div class="skeleton-icon skeleton-color w-6 h-6 rounded-full"></div>
        <div class="skeleton-icon skeleton-color w-6 h-6 rounded-full"></div>
      </div>
    </div>
  </ng-template>
</div>
