<div
  #postElement
  class="bgSecond rounded-[15px] p-2.5 flex flex-row gap-2.5 items-center justify-start self-stretch relative overflow-hidden mb-3"
>
  <div class="flex flex-col justify-start items-center self-stretch w-[3.5rem]">
    <img
      draggable="false"
      class="rounded-full w-14 mb-3 h-14 object-cover justify-start flex flex-col self-stretch"
      src="{{ post!.post_user_id!.profile_picture }}"
    />
    <div
      class="bgEfec w-2 h-full rounded-[4px] relative flex mb-3"
      style="margin-top: -3px"
    ></div>
    <div *ngFor="let item of post?.tagged_users; let k = index">
      <button (click)="onOpenProfile($event)">
        <img
          draggable="false"
          [ngStyle]="
            k !== post!.tagged_users!.length - 1
              ? { marginBottom: '-10px' }
              : {}
          "
          class="rounded-full w-14 h-14 object-cover justify-start flex flex-col self-stretch"
          src="{{ item?.profile_picture }}"
        />
      </button>
    </div>
  </div>

  <div
    class="flex flex-col w-[40rem] gap-2.5 items-start justify-start self-stretch relative"
  >
    <div
      class="bgCom rounded-[15px] p-2.5 flex flex-col gap-1 items-start justify-start self-stretch shrink-0 relative"
    >
      <div
        class="textCl text-left text-2xl font-normal relative self-stretch flex items-center justify-start"
      >
        {{ post!.post_user_id!.name }}
      </div>
      <div
        class="textCl text-left text-sm font-normal relative self-stretch flex items-center justify-start"
      >
        {{ post!.description }}
      </div>
      <div
        class="textCl text-left text-sm font-normal relative self-stretch flex items-center justify-start"
      >
        <div
          class="flex-row gap-2 overflow-x-auto justify-between"
          style="display: ruby"
        >
          <div
            *ngFor="let item of post?.post_hashtag_id"
            class="font-['Inter-Regular',_sans-serif] justify-between text-sm font-normal m-2 px-3 py-1 hashtag"
          >
            #{{ item?.name }}
          </div>
        </div>
      </div>
    </div>
    <!-- POST -->
    <div
      class="flex flex-row gap-[5px] items-center justify-center self-stretch flex-1 relative"
      *ngIf="post.id.type === PostEnum.POST"
    >
      <div
        #postContainer
        class="flex flex-col gap-2.5 items-start justify-start self-stretch flex-1 relative post-container"
      >
        <img
          draggable="false"
          class="rounded-[5px] self-stretch flex-1 relative"
          style="object-fit: cover"
          id="postImage"
          #postImage
          crossorigin="anonymous"
          src="{{ post!.post_medias_id[0]!.url }}"
        />
      </div>
      <div
        *ngIf="post!.post_medias_id!.length === 2"
        class="flex flex-col gap-2.5 items-start justify-start self-stretch flex-1 relative"
      >
        <img
          draggable="false"
          class="rounded-[5px] self-stretch flex-1 relative"
          style="object-fit: cover"
          src="{{ post!.post_medias_id[1]!.url }}"
        />
      </div>
      <div
        *ngIf="post!.post_medias_id!.length >= 3"
        class="flex flex-col gap-2.5 items-start justify-center self-stretch flex-1 relative"
      >
        <img
          draggable="false"
          class="rounded-[5px] self-stretch flex-1 relative"
          style="object-fit: cover"
          src="{{ post!.post_medias_id[1]!.url }}"
        />
        <img
          draggable="false"
          class="rounded-[5px] self-stretch flex-1 relative"
          style="object-fit: cover"
          src="{{ post!.post_medias_id[2]!.url }}"
        />
      </div>
    </div>
    <!-- REEL -->
    <div
      class="flex flex-row gap-[5px] items-center justify-center self-stretch flex-1 relative"
      *ngIf="post.id.type === PostEnum.REEL"
    >
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch flex-1 relative post-container"
      >
        <!-- <img
        draggable="false"
        class="rounded-[5px] self-stretch flex-1 relative"
        style="object-fit: cover"
        id="postImage"
        #postImage
        crossorigin="anonymous"
        src="{{ post!.post_medias_id[0]!.url }}"
      /> -->
        <video
          class="rounded-[5px] self-stretch flex-1 relative"
          controls="controls"
        >
          <source
            src="https://media.geeksforgeeks.org/wp-content/uploads/20231020155223/Full-Stack-Development-_-LIVE-Classes-_-GeeksforGeeks.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
    <!-- TEXT -->

    
    </div>
    <div
      class="pt-5 pb-5 flex flex-col items-center justify-between self-stretch shrink-0 w-[3.5rem] relative"
    >
      <div class="bgCom icons">
        <mat-icon>share</mat-icon>
      </div>
      <div class="bgCom icons">
        <mat-icon>comment</mat-icon>
      </div>
      <div class="bgCom icons">
        <mat-icon>favorite</mat-icon>
      </div>
      <div class="bgCom icons">
        <mat-icon>bookmark</mat-icon>
      </div>
    </div>
</div>
