<div
  class="bgSecond rounded-[15px] p-2.5 flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative overflow-hidden mb-3"
>
  <div class="flex flex-col justify-start w-14 items-center self-stretch">
    <img
      class="rounded-full w-14 mb-3 h-14 object-cover flex-shrink-0"
      src="https://plus.unsplash.com/premium_photo-1664474619075-644dd191935f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    />
    <div
      class="bgEfec w-2 h-full rounded-[4px] relative flex"
      style="margin-top: -3px"
    ></div>
  </div>

  <div
    class="flex flex-col gap-2.5 items-start justify-start self-stretch w-[300px] h-[400px]"
  >
    <div
      class="bgCom rounded-[15px] p-2.5 flex flex-col w-full gap-1 items-start justify-start self-stretch shrink-0 relative"
    >
      <div class="textCl text-left text-2xl font-normal">Name</div>
      <div class="textCl text-left text-sm font-normal">
        Description adssadczasd gjdsahj dwkndbasdasdasd
      </div>
      <div class="textCl text-left text-sm font-normal">Hashtag #####</div>
    </div>

    <div
      class="flex flex-row gap-[5px] items-center justify-center self-stretch flex-1 relative"
    >
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch flex-1 relative"
      >
        <img
          class="rounded-[5px] w-full h-full object-cover"
          src="https://plus.unsplash.com/premium_photo-1664474619075-644dd191935f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        />
      </div>
    </div>
  </div>

  <div
    class="pt-5 pb-5 flex flex-col items-center justify-between self-stretch shrink-0 w-14 relative"
  >
    <div
      class="bgEfec rounded-[50%] w-10 h-10 absolute left-[-5px] top-[87px]"
    ></div>
    <div class="bgCom icons">
      <mat-icon>share</mat-icon>
    </div>
    <div class="bgCom icons">
      <mat-icon>comment</mat-icon>
    </div>
    <div class="bgCom icons">
      <mat-icon>favorite</mat-icon>
    </div>
    <div class="bgCom icons">
      <mat-icon>bookmark</mat-icon>
    </div>
  </div>
</div>
