<div class="page overflow-visible" style="overflow: visible !important">
  <app-masthead></app-masthead>

  <div class="flex flex-row h-full justify-between mr-1.5">
    <div class="flex items-center align-middle -mt-[6%]">
      <div
        class="flex flex-col items-center justify-between shrink-0 relative gap-2"
      >
      <mat-form-field *ngIf="isFollowrs || isFollowing" class="dash-style-input w-4/5 absolute -top-20" appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Seach ...</mat-label>
        <input matInput placeholder="Search" />
      </mat-form-field>

        <div
          class="flex flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative"
        >
          <div
            class="flex flex-row gap-2.5 items-center justify-center shrink-0 relative"
          >
            <button class="border-efec story-body" (click)="onOpenPhote()">
              <img
                class="story"
                style="object-fit: cover; width: 6rem; height: 6rem"
                src="https://images.pexels.com/photos/26692187/pexels-photo-26692187/free-photo-of-moda-costum-femeie-albastru.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
              />
            </button>
          </div>
        </div>
        <div
          class="flex flex-col gap-[15px] items-center justify-start shrink-0 relative"
        >
          <div
            class="text-[#ffffff] text-left font-['Inter-Regular',_sans-serif] text-sm font-normal relative self-stretch flex items-center justify-start"
          >
            Your name
          </div>
          <div
            class="text-[#ffffff] text-left font-['Inter-Regular',_sans-serif] text-sm font-normal relative self-stretch flex items-center justify-start"
          >
            nicke_name
          </div>
        </div>
        <div
          class="flex flex-row gap-[15px] justify-center shrink-0 relative h-[70px] mb-2"
        >
          <div
            class="flex flex-row gap-5 justify-start shrink-0 relative h-[70px]"
          >
            <div class="view">
              <div
                class="text-[#ffffff] text-left font-['Inter-Regular',_sans-serif] text-sm font-normal relative flex items-center justify-start"
              >
                1232
              </div>
              <div
                class="flex flex-row gap-2.5 items-center justify-center shrink-0 relative"
              >
                <button class="border-efec story-body" (click)="onIsPhoto()">
                  <mat-icon class="icon-butoon">photo_camera</mat-icon>
                </button>
              </div>
            </div>
            <div
              class="bgEfec w-2 h-full rounded-[4px] relative shrink-0 flex"
            ></div>
          </div>
          <div
            class="flex flex-row gap-5 justify-start shrink-0 relative h-[70px]"
          >
            <div class="view">
              <div
                class="text-[#ffffff] text-left font-['Inter-Regular',_sans-serif] text-sm font-normal relative flex items-center justify-start"
              >
                12321321
              </div>
              <div
                class="flex flex-row gap-2.5 items-center justify-center shrink-0 relative"
              >
                <button class="border-efec story-body" (click)="onIsFollowrs()">
                  <mat-icon class="icon-butoon">person</mat-icon>
                </button>
              </div>
            </div>
            <div
              class="bgEfec w-2 h-full rounded-[4px] relative shrink-0 flex"
            ></div>
          </div>
          <div
            class="flex flex-row gap-5 justify-start shrink-0 relative h-[70px]"
          >
            <div class="view">
              <div
                class="text-[#ffffff] text-left font-['Inter-Regular',_sans-serif] text-sm font-normal relative flex items-center justify-start"
              >
                1232131
              </div>
              <div
                class="flex flex-row gap-2.5 items-center justify-center shrink-0 relative"
              >
                <button
                  class="border-efec story-body"
                  (click)="onIsFollowing()"
                >
                  <mat-icon class="icon-butoon">person_search</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative"
        >
          <div
            class="text-[#ffffff] text-left font-['Inter-Regular',_sans-serif] text-sm font-normal relative flex items-center justify-start"
          >
            Description
          </div>
          <div
            class="text-[#ffffff] text-left font-['Inter-Regular',_sans-serif] text-sm font-normal relative flex items-center justify-start"
          >
            Description
          </div>
        </div>
        <div
          class="p-[5px] flex flex-row gap-2.5 items-center justify-around self-stretch shrink-0 relative"
        >
          <div class="nav-bar relative h-fit m-2 sm:m-4">
            <div class="relative flex items-center">
              <div
                *ngFor="let item of elemnts; let i = index"
                class="flex flex-row items-center"
              >
                <div class="element">
                  <mat-icon class="clEfec">{{ item }}</mat-icon>
                </div>
                <div *ngIf="i < elemnts.length - 1" class="line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isPhoto" class="flex flex-row gap-3 w-[79.5%]">
      <div class="flex-col w-full flex">
        <app-story></app-story>
        <mat-tab-group
          animationDuration="0ms"
          class="h-full dash-style-tab-group"
        >
          <mat-tab label="First" class="w-full h-full">
            <div class="flex flex-wrap gap-1 justify-between w-full h-fit">
              <app-post *ngFor="let item of items"></app-post>
            </div>
          </mat-tab>
          <mat-tab label="Second" class="w-full h-full">
            <div class="flex flex-wrap gap-3 justify-between w-full h-fit">
              <app-person *ngFor="let item of items"></app-person>
            </div>
          </mat-tab>
          <mat-tab label="Third" class="w-full h-full">
            <div class="flex flex-wrap gap-3 justify-between w-full h-fit">
              <app-place *ngFor="let item of items"></app-place>
            </div>
          </mat-tab>
          <mat-tab label="Fourt" class="w-full h-full">
            <div class="flex flex-wrap gap-1 justify-between w-full h-max">
              <app-video
                class="w-3/12 h-3/12"
                *ngFor="let item of items"
              ></app-video>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div *ngIf="isFollowing" class="flex flex-row gap-3">
      <div class="flex-col w-full flex">
        <mat-tab-group
          animationDuration="0ms"
          class="h-full dash-style-tab-group"
        >
          <mat-tab label="follow" class="w-full h-full">
            <div class="flex flex-wrap gap-1 justify-between w-full h-fit">
              <app-post *ngFor="let item of items"></app-post>
            </div>
          </mat-tab>
          <mat-tab label="block" class="w-full h-full">
            <div class="flex flex-wrap gap-1 justify-between w-full h-fit">
              <app-person *ngFor="let item of items"></app-person>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div *ngIf="isFollowrs" class="flex flex-row gap-3">
      <div class="flex-col w-full flex">
        <div class="flex flex-wrap gap-1 justify-between w-full h-fit">
          <app-post *ngFor="let item of items"></app-post>
        </div>
      </div>
    </div>
  </div>
</div>
